<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/693f483c38.js"
      crossorigin="anonymous"
    ></script>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: "Nanum Gothic", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        color: #333;
        background-color: #e1eaea;
      }
      /* ----------고정 상단바 ---------------------------------------------- */

      .buttonBar {
        color: black;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 0.1vw;
        height: 3vw;
        padding: 3vw 1vw 3vw 1vw;
      }

      .buttonBar > .mypost,
      .buttonBar > .write,
      .buttonBar > .TimeLine {
        padding: 0.3vw;
        width: 100%;
        cursor: pointer;
        font-weight: bolder;
      }
      .buttonBar > .search {
        padding: 0.1vw;
        width: 60%;
        display: flex;
      }
      .buttonBar > .mypost:hover,
      .buttonBar > .write:hover,
      .buttonBar > .TimeLine:hover {
        background-color: #67629f;
        color: white;
        /* color: black; */
      }

      /* ----listTopBar------------------------------------------------------- */
      .listContainer {
        margin-top: 4vw;
        margin-left: 2vw;
        margin-right: 2vw;
      }
      .listTopBar {
        background-color: #67629f;
        color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        font-size: 10px;
        font-weight: bolder;
      }
      .listTopBar > .number {
        width: 10%;
      }
      .listTopBar > .title {
        width: 30%;
      }
      .listTopBar > .writer {
        width: 20%;
      }
      .listTopBar > .date {
        width: 35%;
      }
      .listTopBar > .like {
        width: 5%;
      }

      /* -------newList-------------------------------------------------- */

      .newList {
        background-color: rgba(187, 187, 187, 0.364);
        padding: 10px;
        display: flex;
        align-items: center;
        font-size: 10px;
      }
      .newList:hover {
        background-color: rgba(128, 128, 128, 0.329);
        cursor: pointer;
      }
      .newList > .newNumber {
        width: 10%;
      }
      .newList > .newTitle {
        width: 30%;
      }
      .newList > .newTitle:hover {
        text-decoration: underline double;
      }
      .newList > .newWriter {
        width: 20%;
      }
      .newList > .newDate {
        width: 38%;
      }
      .newList > .newLike {
        width: 2%;
      }

      /* ---------------------------------------------------------------------------------- */

      .view {
        display: flex;
        width: 100%;
        height: 110vh;
        justify-content: flex-end;
        /* overflow: auto; */
      }

      .mobile-view {
        align-items: center;
        border: none;
        display: flex;
        height: 100%;
        justify-content: center;
        /* overflow: auto; */
        width: 100%;
      }

      .wrap {
        height: 690px;
        position: relative;
        width: 320px;
      }

      .wrap::before {
        content: "";
        background-color: #fff;
        box-shadow: -15px 8px 20px -10px rgba(0, 0, 0, 0.2);
        display: inline-block;
        height: 62px;
        width: 100%;
        border-radius: 46px 46px 0 0;
        margin-bottom: -3px;
      }

      .wrap::after {
        content: "";
        background-color: #fff;
        box-shadow: -15px 8px 20px -10px rgba(0, 0, 0, 0.2);
        display: inline-block;
        height: 62px;
        width: 100%;
        border-radius: 0px 0px 46px 46px;
        margin-top: 3px;
      }

      .before-line {
        background-color: #eff1f2;
        border-radius: 1.5px;
        height: 3px;
        left: 50%;
        position: absolute;
        top: 23px;
        transform: translateX(-50%) translateY(-50%);
        width: 24px;
      }

      .main-view {
        align-items: center;
        background-color: #fff;
        box-shadow: -15px 8px 20px -10px rgba(0, 0, 0, 0.2);
        height: 556px;
        max-height: 566px;
        width: 320px;
        border: none;
      }

      /* ------------footer---------------------------------------------------- */

      /* footer */
      footer .inner {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 70px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
        /* justify-content: center; */
        align-items: center;
        font-size: 12px;
        background-color: rgb(222, 222, 222, 0.8);
      }
      footer .inner ul {
        text-align: center;
        list-style: none;
      }
    </style>
  </head>
  <body>
    <div class="view">
      <div class="mobile-view">
        <div class="wrap">
          <div class="before-line"></div>
          <div class="main-view">
            <div class="buttonBar">
              <div class="mypost" onclick="mypostButton()">MYPOST</div>
              <div class="write" onclick="writeButton()">WRITE</div>
              <div class="TimeLine" onclick="timeLineButton()">TimeLine</div>
              <div class="search">
                <input
                  type="text"
                  class="search"
                  id="search"
                  name="search"
                  autocomplete="off"
                />
                <button
                  id="searchButton"
                  onclick="search()"
                  style="background-color: #67629f"
                >
                  <i
                    class="fa-solid fa-magnifying-glass fa-lg"
                    style="color: #ffffff"
                  ></i>
                </button>
              </div>
            </div>
            <!-- --------main---------------------------------------- -->
            <div class="listContainer">
              <div class="listTopBar">
                <div class="number"></div>
                <div class="title">TITLE</div>
                <div class="writer">WRITER</div>
                <div class="date">DATE</div>
                <div class="like">LIKE</div>
              </div>

              <% for (let i = 0; i < searchAllData.length; i++) { %>
              <div
                class="newList"
                id="newList-<%= searchAllData[i].post_id%>"
                onclick="showPost(this)"
              >
                <div class="newNumber"><%= searchAllData.length-i%></div>
                <div class="newTitle"><%= searchAllData[i].title%></div>
                <div class="newWriter"><%= searchAllData[i].user_id%></div>
                <div class="newDate">
                  <%= searchAllData[i].created_date.toISOString().split('T')[0]
                  %> &nbsp; <% const timeParts =
                  searchAllData[i].created_time.split(':'); %> <%= timeParts[0]
                  %>:<%= timeParts[1] %>
                </div>
                <div class="newLike"><%= searchAllData[i].like_count%></div>
              </div>
              <%}%>
            </div>

            <footer>
              <div class="inner">
                <ul class="home">
                  <span class="material-symbols-outlined">
                    <i
                      class="fa-sharp fa-solid fa-house"
                      style="color: #000000"
                    ></i>
                  </span>
                  <div>Home</div>
                </ul>
                <a href="http://localhost:8000/">
                  <ul class="community">
                    <span class="material-symbols-outlined">
                      <i
                        class="fa-solid fa-clipboard"
                        style="color: #000000"
                      ></i>
                    </span>
                    <div>Bord</div>
                  </ul>
                </a>
                <a href="http://localhost:8000/chat">
                  <ul class="community-chat">
                    <span class="material-symbols-outlined">
                      <i class="fa-solid fa-comment" style="color: #000000"></i>
                    </span>

                    <div>Chat</div>
                  </ul>
                </a>
                <ul class="setting">
                  <span class="material-symbols-outlined">
                    <i class="fa-solid fa-user" style="color: #000000"></i>
                  </span>

                  <div>MyPage</div>
                </ul>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    function showPost(element) {
      const postId = element.id.split("-")[1];
      window.location.href = `/list/showPost?postId=${postId}`;
    }

    function writeButton() {
      window.location.href = "/write";
    }

    function mainButton() {
      window.location.href = "/myPost";
    }

    function timeLineButton() {
      window.location.href = "/";
    }

    function mypostButton() {
      const signinId = "<%= signinUser[0].signin_id %>";
      window.location.href = `/myPost?signinId=${signinId}`;
    }

    function search() {
      //검색 눌렀을 경우 데이터 베이스에서 일치하는 단어 있는 쿼리문 가져오기
      const searchInput = document.getElementById("search");
      if (!searchInput.value) {
        alert("검색어를 입력하세요");
      } else {
        window.location.href = `/search?searchInput=${searchInput.value}`;
      }
    }
  </script>
</html>
